flows.json
[{"id":"8f5fb0a8.4299","type":"tab","label":"Flow 11","disabled":false,"info":""},{"id":"8ef42ec8.b6d25","type":"ui_form","z":"8f5fb0a8.4299","name":"","label":"","group":"f765bc2e.7146","order":1,"width":0,"height":0,"options":[{"label":"Pregnancies","value":"pr","type":"number","required":true,"rows":null},{"label":"Glucose","value":"g","type":"number","required":true,"rows":null},{"label":"BloodPressure","value":"bp","type":"number","required":true,"rows":null},{"label":"SkinThickness","value":"s","type":"number","required":true,"rows":null},{"label":"Insulin","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"DiabetesPedigreeFunction","value":"pe","type":"number","required":true,"rows":null},{"label":"Age","value":"a","type":"number","required":true,"rows":null}],"formValue":{"pr":"","g":"","bp":"","s":"","i":"","bmi":"","pe":"","a":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["44ad91b0.9136c","19f2f98.8c4c607"]]},{"id":"44ad91b0.9136c","type":"debug","z":"8f5fb0a8.4299","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":360,"wires":[]},{"id":"19f2f98.8c4c607","type":"function","z":"8f5fb0a8.4299","name":"pre-token","func":"global.set(\"pr\",msg.payload.pr)\nglobal.set(\"g\",msg.payload.g)\nglobal.set(\"bp\",msg.payload.bp)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"i\",msg.payload.i)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"pe\",msg.payload.pe)\nglobal.set(\"a\",msg.payload.a)\nvar apikey=\"idT9d6pVROMDOdK5eS485lRgo2JC6Tin9immWJsJC2L6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["326a96ef.7da9fa"]]},{"id":"326a96ef.7da9fa","type":"http request","z":"8f5fb0a8.4299","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":412.00000381469727,"y":264.00000286102295,"wires":[["354bae0e.46d152","fe7995f2.b2e378"]]},{"id":"354bae0e.46d152","type":"debug","z":"8f5fb0a8.4299","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":320,"wires":[]},{"id":"fe7995f2.b2e378","type":"function","z":"8f5fb0a8.4299","name":"Pre Prediction","func":"var pr = global.get(\"pr\")\nvar g = global.get(\"g\")\nvar bp = global.get(\"bp\")\nvar s = global.get(\"s\")\nvar i = global.get(\"i\")\nvar bmi = global.get(\"bmi\")\nvar pe = global.get(\"pe\")\nvar a = global.get(\"a\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Pregnancies\", \" Glucose\", \"BloodPressure\", \"SkinThickness\", \"Insulin\", \"BMI\",\"DiabetesPedigreeFunction\", \"age\" ]],\"values\": [[pr,g,bp,s,i,bmi,pe,a]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":604.0000076293945,"y":216.0000021457672,"wires":[["907adab7.008ef8"]]},{"id":"907adab7.008ef8","type":"http request","z":"8f5fb0a8.4299","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/6aa0344c-841f-44ec-ae0d-e32a416a70e6/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":240,"wires":[["f45ed134.c6f3d","9e76db03.a1c1d8"]]},{"id":"f45ed134.c6f3d","type":"debug","z":"8f5fb0a8.4299","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":982.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"478985d2.a1acec","type":"inject","z":"8f5fb0a8.4299","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["19f2f98.8c4c607"]]},{"id":"585f4d78.8d10d4","type":"debug","z":"8f5fb0a8.4299","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":813.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"9e76db03.a1c1d8","type":"function","z":"8f5fb0a8.4299","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659.6000595092773,"y":148.00000190734863,"wires":[["585f4d78.8d10d4","8c1db9e.c79bd48"]]},{"id":"8c1db9e.c79bd48","type":"ui_text","z":"8f5fb0a8.4299","group":"f765bc2e.7146","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":777.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"f765bc2e.7146","type":"ui_group","z":"","name":"New","tab":"1db304cb.f4b5bb","order":1,"disp":true,"width":"6","collapse":false},{"id":"1db304cb.f4b5bb","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]